{% extends 'base.html' %}
{% load static %}

{% block extra_title %}404 Error{% endblock %}

{% block content %}

<div class="dashboard">
  <div class="dashboard__form">
    <h1 class="dashboard__main--name">404</h1>
    <div class="warning__msg">It seems that this page doesn't exist.</div>
    <div class="form__btns accent">
      <a href="{% url 'home' %}" class="btn btn-edit" aria-label="Go to Home page">
        <i class="fas fa-regular fa-house"></i>
        Back to Home Page
      </a>
    </div>
  </div>
</div>

{% endblock %}