{% extends 'base.html' %}
{% load static %}

{% block extra_title %}404 Error{% endblock %}

{% block content %}

  <div>
    <h1>404</h1>
    <div class="404-error" aria-label="Page not found warning image -two gears">
      <i class="fa-regular fa-gears"></i>
    </div>
    <strong>Oh! It seems that this page doesn't exist.</strong>
    <div class="404-error">
      <a href="{% url 'home' %}" aria-label="Go to Home page" class="btn">
        <i class="fas fa-regular fa-house"></i>
        Back to Home Page
      </a>
    </div>
  </div>

{% endblock %}
