{% extends 'base.html' %}
{% load static %}

{% block extra_title %}404 Error{% endblock %}

{% block content %}

<!-- <div>
  <h1>404</h1>
  <div class="404-error" aria-label="Page not found warning image -two gears">
    <i class="fa-regular fa-gears"></i>
  </div>
  <strong>It seems that this page doesn't exist.</strong>
  <div class="404-error">
    <a href="{% url 'home' %}" aria-label="Go to Home page" class="btn btn-edit">
      <i class="fas fa-regular fa-house"></i>
      Back to Home Page
    </a>
  </div>
</div> -->

<div class="dashboard">
  <div class="dashboard__form">
    <h1 class="dashboard__main--name">404</h1>
    <div class="access__image">
      <img src="{% static 'images/two_gears.png' %}" alt="Page not found warning image -two gears">
    </div>
    <div class="warning__msg">It seems that this page doesn't exist.</div>
    <div class="form__btns accent">
      <a href="{% url 'home' %}" aria-label="Go to Home page" class="btn btn-edit">
        <i class="fas fa-regular fa-house"></i>
        Back to Home Page
      </a>
    </div>
  </div>
</div>

{% endblock %}