{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}500 Error{% endblock %}

{% block content %}
<div class="dashboard">
  <div class="dashboard__form">
    <h1 class="dashboard__main--name">500</h1>
    <div class="warning__msg">It seems that we are having some problems with
      the server. Our fault, not yours!</div>
    <div class="form__btns accent">
      <a href="{% url 'home' %}" class="btn btn__getstarted" aria-label="Go to Home page">
        <i class="fas fa-regular fa-house"></i>
        Back to Home Page
      </a>
    </div>
  </div>
</div>
{% endblock %}