{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 masthead-text">
                <!-- Welcome heading -->
                <h1 class="welcome-title">
                    Do you have anything to report which is not on the site?
                </h1>
                <p class="welcome-subtitle">
                    Please do let us know by contacting us!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <h2 class="subhead">
                    How to let us know about issues or incidents that are not covered on the website
                </h2>
                <p class="intro-text">
                    If you are aware of something going on in your local area which is not already covered on this
                    website, you can let us know by sending us <a href="mailto:report@reigatecommunityforum.co.uk">an e-mail</a>.
                    <br>
                    Please include information about the issue/ incident, including:
                    <br>
                    <ul>
                        <li>
                            A description of the issue or incident
                        </li>
                        <li>
                            Time and date for when it occurred (or is planned)
                        </li>
                        <li>
                            Location (postcode or street name)
                        </li>
                        <li>
                            Whether it is resolved or ongoing (and if ongoing, whether you know when it will end)
                        </li>
                        <li>
                            Whether the issue or incident is urgent, or poses potential risk of harm to those in
                            the locality
                        </li>
                        <li>
                            Whether you have notified the authorities (council, police, others) about it
                        </li>
                        <li>
                            Attach any photos (if relevant or available)
                        </li>
                    </ul>
                    <br>
                    We will review any information about new or ongoing issues, and add them to the website. There may
                    be a slight delay between submitting a new issue/ incident until it appears, due to the review
                    process.
                </p>
                <h3 class="para-subhead">
                    Any other questions, queries, or comments?
                </h3>
                <p class="intro-text">
                    Please use <a href="mailto:info@reigatecommunityforum.co.uk">this link</a> to submit general questions, queries, or comments. We will reply as soon as we
                    can!
                    <br>
                    The site combines official notices from local authorities, transport services, and law enforcement
                    with locally generated insights and observations.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}