{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 masthead-text">
                <!-- Welcome heading -->
                <h1 class="welcome-title">
                    Welcome to the Reigate Community Issues and Incidents Forum
                </h1>
                <p class="welcome-subtitle">
                    Information about issues and incidents in and around Reigate, from official sources, residents,
                    and visitors
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <h2 class="subhead">
                    Why this site?
                </h2>
                <p class="intro-text">
                    Ever wondered what is happening in a particular place or at a particular time? Why the road is
                    closed, whether there is anything to be aware of on a certain route (potholes, overhanging branches,
                    uneven pavements)?<br>
                    Or maybe you have had a positive or negative experience in a particular location you wish to let
                    others know about?<br>
                    That is where we come in.
                </p>
                <h3 class="para-subhead">
                    Who this site is for
                </h3>
                <p class="intro-text">
                    The Reigate Community Issues and Incidents Forum is intended for use by residents (and visitors/
                    commuters, etc) to raise issues and incidents to the attention of others, empowering residents to
                    make informed decisions about route choices, issues to be aware of, and importantly of hazards in
                    the local environment.<br>
                    The site combines official notices from local authorities, transport services, and law enforcement
                    with locally generated insights and observations.
                </p>
                <h3 class="para-subhead">
                    Experiencing an emergency?
                </h3>
                <p class="intro-subhead">
                    Please note that this forum is <strong>NOT</strong> linked to the emergency services or to local 
                    authorities. If you are experiencing an issue which requires immediate attention or intervention, 
                    <strong>please call 999 or the relevant council service!</strong> 
                </p>
                <h2 class="subhead">
                    How to use the site
                </h2>
                <p class="intro-subhead">
                    This forum is maintained by Reigate residents for Reigate residents and visitors. The forum is 
                    mediated, and in order to post a report of an incident or issue you need to register and be 
                    logged in. Once logged in there will be an option to submit a new report or comment/ update.<br> 
                    Every report and comment is reviewed and, where possible, verified. This is to avoid incorrect or 
                    ill-intended content from being posted, but may lead to a slight delay between a report being
                    posted and appearing on the forum.
                </p>
                <h3 class="para-subhead">
                    Any questions?
                </h3>
                <p class="intro-text">
                    If you have any questions, queries, or suggestions, or want to know more about the forum, please
                    do get in touch through the Contact Us link at the top of the page! 
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
